<div id="header">
  <h1 id="main-title" class="container">Nicolas Carraggi</h1>
  <p id="introduction">Atypical developer, technology geek and sport lover.</p>
</div>

<div id="education">
  <h1 id="education-title">Education</h1>
  <p id="education-text">Being very curious about computers from a very young age, I decided to study Computer Science at the university of Brussels.
    This opened up a whole new world for me, the art of software development! This amazing journey is coming to an end as I am actually writing my master thesis.</p>
  <h2 id="thesis-title">Making wearables fit the user</h2>
  <p id="thesis-text">The evolution of wearable technology got me very intrigued! Unfortunately we can see that most people aren't interested (yet) in this technology.
    The average user has no idea of how much wearable technology can improve and facilitate certain things in our daily life. That's why with my thesis I would like to propose
    a new approach of interaction between the end user and wearables. This approach gives the user more control over how the wearable should work, making it more personal and context-aware.</p>
</div>

<div id="passions">
  <h1 id="passions-title">Passions</h1>
  <h2 id="passion-tech-title">Technology</h2>
  <p id="tech-text">...</p>
  <h2 id="passion-sport-title">Sport</h2>
  <p id="sport-text">While growing up, sport has always been a major part of my life. I have spent half of my youth in swimming pools! Swimming is a very tough sport,
    it requires a lot of effort for very little improvements and rewards. When I started university I decided to stop swimming competitively to explore other things in life.
     I really enjoyed playing badminton from time to time with my dad and little brother. The sportsman and competitor in me quickly felt the need to become a good competitive badminton player.
    Some years went by and having achieved this goal I can now say I am totally in love with the sport! So is my little brother, he is playing professionaly now. As I share this journey with him,
    I have the chance to sometimes travel and discover new cultures and amazing people around the world.</p>
</div>

<div id="cookie">
  <h2 id="quote">"And that's the way the cookie crumbles..."</h2>
</div>
